# Configs
*_config.php
config.php

# Web config
web.config
.htaccess
sitemap.xml
sitemap.xml.gz

# Logs / temp
htdocs/pages/home.php
htdocs/pages/totals.php
htdocs/data/updateips.php
*.log
*.tmp
*.cache
*.bak
.DS_Store
Thumbs.db
thumbs.db
ftptimestamp.php
.*~
*.*~
*.~*
~*.*
*.user
pma/


# Archives
*.gz
*.bz2
*.o
*.lo
*.la
*.zip

# Misc
*.class
cvs
CVS
.cvs
.CVS
debug
Debug
ignore
Ignore
bin
Bin
obj
Obj
/support/db/