pootable {
	border: 1px #808080 solid;
	margin: 0px;
	padding: 0px;
}
.player {
	width: 200px;
}
.score {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color:#000000;
}
.colhead {
	background: url('images/playertop.gif') repeat-x;
	height: 100%;
}
.colhead td {
	font-weight: 700;
}

.colrow {
	background: #F1F1F1;
}

.lol{
	color:#fff;
	margin:0;
	padding:0 0 0 10px;
	font-family:helvetica,arial,sans-serif;
	font-size:12px;
	letter-spacing:0px;
}
.mod-header{
background:transparent url('images/module_header_gradient.gif') 0 0 repeat-x;clear:both;
}
